@media (max-width: 946px) {
    #Sobre-Flex {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
    }

    .Sobre-convite {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    #convite-Flex {
        justify-content: flex-start;
    }

    #convite-Flex > div > p {
        font-size: 20px;
    }

    .Sobre-apresentação {
        width: 100%;
    }

    .Ajustes {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    #Ajuste-paralax {
        margin-top: 50px;
    }
}

@media (max-width: 946px) {
    #Ajuste-paralax {
        margin-top: 50px;
    }
}

@media (max-width: 480px) {
    #fundo-conteudo {
        padding:  1px 0px 0px 10px;
    }

    #Sobre-Nós {
        padding-bottom: 900;
    }

}