@media (max-width: 775px) {
    #Aréas-Atuação {
        height: 1500px;
    }
}

@media (max-width: 770px) {
    #Atuação-Apresentação {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }
    
    #Áreas-titulo > h2 {
        font-size: 40px;
    }
}

@media (max-width: 442px) {
    #Atuação-Apresentação {
        max-width: 300px;
        padding-left: 10px;
    }

    #Áreas-titulo > h2 {
        font-size: 20px;
        padding-left: 10px;
    }
}